.container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.button-one {
    margin-bottom: 2px;
}